body {
    font-family: Arial, sans-serif;
    background-color: mediumseagreen;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    text-align: center;
    background-color: white;
    color: black;
    padding: 20px;
    border-radius: 10px;
}

form {
    display: flex;
    flex-direction: column;
}

input {
    margin-bottom: 10px;
    padding: 10px;
    font-size: 16px;
}

button {
    padding: 10px;
    font-size: 16px;
    background-color: mediumseagreen;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: seagreen;
}
