body {
    font-family: Arial, sans-serif;
    background-color: mediumseagreen;
    color: white;
    text-align: center;
    margin: 0;
    padding: 0;
}

.container {
    padding: 50px;
}

button {
    background-color: white;
    color: mediumseagreen;
    border: none;
    padding: 20px;
    margin: 10px;
    font-size: 24px;
    cursor: pointer;
    border-radius: 10px;
    display: inline-block;
    text-align: center;
}

button img {
    width: 100px;
    height: 100px;
    display: block;
    margin: 0 auto 10px auto;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

form input {
    padding: 10px;
    margin: 10px;
    font-size: 18px;
    border: none;
    border-radius: 5px;
}

form button {
    padding: 10px 20px;
    font-size: 18px;
}
